body {
  margin: 0;
  padding: 0;
  display: flex;
}

h1 {
  color: red;
  font-size: 3.2em;
  line-height: 1.1;
}

.red-title{
  color: red;
  background-color: black;
  padding: 15px;
}

.beige-title{
  color: beige;
  background-color: black;
  padding: 15px;
}