body{
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 10px;
  border: 2px solid gray;
  padding: 15px;
}

.btn{
  border: none;
  border-radius: 10px;
  background-color: #373C4F;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover{
  background-color: darkslategray;
}

.divide1{
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.divide2{
  width: 100%;
  background-color: #F6F8FA;
  padding: 10px;
  border-radius: 10px;
}