body{
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 10px;
  border: 2px solid gray;
  padding: 15px;
}

.btn{
  border: none;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover{
  background-color: darkslategray;
}