
.btn{
    border: none;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #373C4F;
    background-color: #fff;;
    color: #373C4F;
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px 0px;
}

.btn:hover{
    border: 2px solid #373C4F;
    background-color: #373C4F;
    color: #fff;
}

.pp{
    color: #373C4F;
    margin-bottom: 5px;
}

.customInput{
    color: #373C4F;
    line-height: 2rem;
    width: 40%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}